{% extends 'base.html' %}


{% block body %}

<div class="container my-6 mb-3">
    <nav class="navbar1">

      <ul class="nav-links1 justify-content-end">
        <h3 class="treding">Trending This Week</h3>
        <li><a href="#" class="nav-item1 active" onclick="toggleMenu(event, 'man'); activateMenuItem(event, 0)">Man</a>
        </li>
        <li><a href="#" class="nav-item1" onclick="toggleMenu(event, 'woman'); activateMenuItem(event, 1)">Woman</a>
        </li>
        <li><a href="#" class="nav-item1" onclick="toggleMenu(event, 'kids'); activateMenuItem(event, 2)">Kids</a></li>
        </li>
      </ul>
      
      <div class="underline"></div>
    </nav>
    <hr>
  </div>

  <div class="container">
    <div id="man" class="conav active">
      <div class="row">

        
        {% for product in products %}
        {% if product.category == "Man_tending_page" %}
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="{{product.p_img1.url}}" height="400px" width="400px">
                <img class="pic-2" src="{{product.p_img2.url}}" height="400px" width="400px">
              </a>
              <ul class="product-links">
                <li><a href="{% url 'add_to_cart' product_id=product.id %}"><i class="fa fa-shopping-cart cart"></i></a></li>

                
                <li><a href="{% url 'add_to_wishlist' product_id=product.id %}"><i class="far fa-heart"></i></a></li>
               
         
  

                <li><a href="#"><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="{% url 'product-detail' product_id=product.id %}">{{product.p_name}}</a></h3>
              <div class="price">Rs. {{product.p_price}}</div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>


  <div class="container">
    <div id="woman" class="conav">
      <div class="row">

        
        {% for product in products %}
        {% if product.category == "Woman_tending_page" %}
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="{{product.p_img1.url}}" height="400px" width="400px">
                <img class="pic-2" src="{{product.p_img2.url}}" height="400px" width="400px">
              </a>
              <ul class="product-links">
                <li><a href="{% url 'add_to_cart' product_id=product.id %}"><i class="fa fa-shopping-cart cart"></i></a></li>
     
                <li><a href="{% url 'add_to_wishlist' product_id=product.id %}"><i class="far fa-heart"></i></a></li>
                
               
                <li><a href="#"><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="{% url 'product-detail' product_id=product.id %}">{{product.p_name}}</a></h3>
              <div class="price">Rs. {{product.p_price}}</div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>


  <div class="container">
    <div id="kids" class="conav">
      <div class="row">

        {% for product in products %}
        {% if product.category == "Kids_tending_page" %}
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="{{product.p_img1.url}}" height="400px" width="400px">
                <img class="pic-2" src="{{product.p_img2.url}}" height="400px" width="400px">
              </a>
              <ul class="product-links">
                <li><a href="{% url 'add_to_cart' product_id=product.id %}"><i class="fa fa-shopping-cart cart"></i></a></li>
                <li><a href="{% url 'add_to_wishlist' product_id=product.id %}"><i class="far fa-heart"></i></a></li>
            
                <li><a href="#"><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="{% url 'product-detail' product_id=product.id %}">{{product.p_name}}</a></h3>
              <div class="price">Rs. {{product.p_price}}</div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock body%}


{% block js %}
<script>
  
  if(localStorage.getItem('cart')==null)
  {
    var cart={};
  }
  else{
    cart=JSON.parse(localStorage.getItem('cart'))
    document.getElementById('cart1').innerHTML = object.key(cart).length;
  }

  $('i').click(function(){
    console.log("click");
  });
  
  
</script>



  
  
{% endblock js %}
  
    